@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400&family=Hind+Vadodara:wght@300;400;700&family=Inter:wght@200;300;400;700&display=swap');

$text-color: #331B3B;
$black-color: #000;
$buttom-color: #054285;
$card-bg-color: #ECF7FF;

// font-families
$font-family1: 'Hind Siliguri', sans-serif;
$font-family2: 'Hind Vadodara', sans-serif;
$font-family3: 'Inter', sans-serif;