@import './sass/colors';
@import './sass/bootstrap';
@import './sass/home';
@import './sass/courses';
@import './sass/resgister';
@import './sass/animations';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}